#logo {
    text-align: center;
    align-content: center;
    margin-left: 25%;
}

header {
    background-color: black;
}

.jumbotron {
    background: url('assets/detroit-skyline-4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html,
      body {
        height: 100%;
        background-color: black;
      }
      .wrapper {
        height: 100%;
        font-family: Helvetica, sans-serif;
        line-height: 1.5;
        word-spacing: 2px;
        letter-spacing: 0.5px;
      }
      .fixed {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
        color: black;
        text-align: center;
        display: table;
      }
      .fixed h2 {
        display: table-cell;
        vertical-align: middle;
      }
      .scroll {
        background-color: black;
        padding: 10px 70px;
        
        color: white;
      }
      .one {
        background-image: url("assets/DDRHiG2XcAMc47N.jpg")
      }
      .two {
        background-image: url("assets/11143398_1646922422239875_1394364123186378101_o.jpg");
        
      }
      .three {
        background-image: url("assets/37417912_2137126383219474_3733708464476651520_o.jpg");
        filter: grayscale(100%);
      }

      .contact {
          background-color:rgba(0, 0, 0, 0.7);
          margin-top: 30%;
      }
      

      footer {
          background-color: black;
      }